@import "tailwindcss";

/* .links a {
    position: relative;
}
.links a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: translateX(-50%);
    width: 0;
    height: 3px;
    transition: .3s;
    background-color: red;
}

.links a:hover::before {
    width: 10px;
} */
.Progressbar {
    position: fixed;
    top: 0;

    width: 10px;
    height: 10px;
    background-color: bisque;
    z-index: 999;
    animation: progressbar  linear forwards;
    animation-timeline: scroll();
  }
  
  @keyframes progressbar {
    0% {
      width: 10px;
      background-color: bisque;
    }
    20% {
        width: 20%;
        background-color: lightblue;
    }
    40% {
        width: 40%;
        background-color: lightblue;
    }
    60% {
        width: 60%;
        background-color: lightblue;
    }
    80% {
        width: 80%;
        background-color: blue;
    }
    100% {
        width: 100%;

        background-color: blue;
    }
  }
  